{% extends 'coder/base.html' %}

{% block body %}
{% if all_albums %}

<div class="container">
<div class="row">

	{% if user.is_authenticated %}

	{% for album in all_albums %}
	
		<div class="col-md-4">
		<h3>{{ album.album_title }}</h3>
		 <a href="{% url 'coder:detail' album.id %}"><img src="{{ album.album_logo.url }}" height="150" width="190" class="img-rounded"></a>
		<h4>{{ album.genre }}</h4>
		</div>
	{% endfor %}

    {% else %}
		<h3>Please login to access our content.</h3>
    <p>Click <a href="{% url 'accounts:login' %}">here</a> to login</p>
	{% endif %}

</div>
</div>
<hr>

{% else %}
<h3>No Albums</h3>

{% endif %}

{% endblock %}
